.divider {
  padding: 10px;
}
.notepad {
  &-control-panel {
    &-top {
      &-search {
        width: 300px;
      }
      &-add-open {
        color: #56b85e !important;
      }
      &-add-close {
        color: #fe5957 !important;
      }
    }
    &-create-modal {
      &-form {
        &-input {
          padding-bottom: 10px !important;
        }
        &-item {
          display: inline-flex;
        }
        &-button {
          color: #84a3d3 !important;
        }
      }
    }
  }
  &-list {
    overflow-y: auto;
    &-item {
      width: 300px;
      &-accordion {
        &-summary {
          width: 300px;
          background-color: #84a3d3 !important;
          color: white !important;
          &-expand-icon {
          }
        }
        &-details {
          background-color: #f5f1e6 !important;
        }
      }
      &-buttons {
        &-edit-icon {
          color: #ffb400 !important;
        }
        &-delete-icon {
          color: #fe5957 !important;
        }
      }
    }
  }
}

